@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "BebasNeue";
  src: url("/font/BebasNeue-Regular.ttf");
}

* {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BebasNeue", "Times New Roman", Times, serif;
  letter-spacing: 0.6px;
  font-weight: normal;
}
