@mixin home_section_title {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;

  span {
    font-size: 1.2em;
  }
}