@use 'social';

.footer {
  background-color: var(--ifm-footer-background);
  color: var(--ifm-footer-text);
  padding: 20px;
  text-align: center;
}

.footer a {
  color: var(--ifm-color-accent);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__social {
    @include social.social;
    justify-content: center;
  }
  
  .footer__social__svg {
    fill: var(--ifm-footer-text);
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .footer__social__svg:hover {
    @include social.social__svg--hover;
  }
  
  .footer__link-separator {
    display: none;
  }
  
  .footer__material-symbols-outlined {
    color: var(--ifm-footer-link-color);
  }
  
  .footer__contact-info__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .footer__contact-info__item a {
    color: var(--ifm-footer-text);
  }
  
  .footer__contact-info__item:hover a {
    color: var(--ifm-color-accent);
  }
  
  .footer__link-item:hover {
    color: var(--ifm-footer-link-color);
  }