@import "../../../css/custom.scss";
@import "../../index.module.scss";

.hometraining_title {
  @extend .home_section_title;
  text-align: center;
}

.hometraining_top {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 50px;
  justify-content: center;
}

.hometraining_top_item_container {
  background-color: var(--ifm-color-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px 2px var(--ifm-background-color);
  }
}

.hometraining_top_item_duration {
  color: var(--ifm-secondary);
}

.hometraining_top_item_icon {
  span {
    color: var(--ifm-accent) !important;
    font-size: 100px !important;
  }
}

.hometraining_top_item_title {
  color: var(--ifm-background-color);
}

.hometraining_top_item_school {
  color: var(--ifm-secondary);
  align-self: flex-end;
}

.hometraining_top_item_average {
  color: var(--ifm-secondary);
  align-self: flex-end;
  span {
    padding: 6px;
    background-color: var(--ifm-secondary);
    color: var(--ifm-color-primary);
    border-radius: 4px;
  }
}

@media screen and (max-width: 1280px) {
  .hometraining_top {
    grid-template-columns: repeat(2, 45%);
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .hometraining_top {
    grid-template-columns: repeat(2, 50%);
    gap: 30px;
  }
}

@media screen and (max-width: 720px) {
  .hometraining_top {
    display: flex;
    flex-direction: column;
  }
}
