@import "../css/custom.scss";

.home_main {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home_item {
  padding: 0 12.5%;
}

.home_services {
  @extend .home_item;
  background-color: var(--ifm-color-primary-dark);
}

.home_experience {
  @extend .home_item;
  background-color: var(--ifm-color-primary);
}

@media screen and (max-width: 1280px) {
  .home_item {
    padding: 0 10%;
  }
}

@media screen and (max-width: 1024px) {
  .home_item {
    padding: 0 7.5%;
  }
}

@media screen and (max-width: 720px) {
}
