.button___primary {
  padding: 12px;
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 300ms;
}

.button___primary:hover {
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-primary);
  cursor: pointer;
}

.button___secondary {
  @extend .button___primary;
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-primary);
}

.button___secondary:hover {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
}
